{% extends 'micro-post/index.html.twig' %}

{% block title %}Hello BlogController!
{% endblock %}


{% block content %}

	<!-- Main Content-->
	<div class="container px-4 px-lg-5">
		<div class="row gx-4 gx-lg-5 justify-content-center">
			{{ form_start(form) }}
			{{ form_widget(form) }}
			{{ form_end(form) }}
		</div>
	</div>
{% endblock %}
