{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
{% for id,post in posts %}
	<p>
		<a href="{{ path('blog_show',{'id':id}) }}">ID:{{ id }}</a>
	</p>
	<h1>{{ post.title }}
	</p>
</h1>
<p>{{ post.content }}</p>{% endfor %}{% endblock %}
